/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia 
4. Visuales
5. Otros
*/

:root {
    /*Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.header--title-container h1 {
    font-size: 24px;
    font-family: "DM Sans", sans-serif;
    color: var(--just-white);
    font-weight: 700;
    line-height: 2.6rem;
    font-weight: bold;
}

.header--title-container p {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: var(--soft-orange);
}

.header--title-container a {
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    align-self: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18.23px;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/Vector.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main--container-fees {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main--container-fees img {
    width: 195px;
    height: 195px;
    align-self: center;
    margin-bottom: 40px;
}

.main--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main--title-container h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 2.6rem;
}

.main--title-container p {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding-top: 3rem;
    color: #757575;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    padding-top: 40px;
    padding-right: 40%;
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
    font-size: 1.4rem;
    font-family: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('assets/icons/trending-down\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('assets/icons/trending-up\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main-table--commissions {
    min-width: 320px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
}

.main-commissions--table {
    width: 65%;
    min-width: 230px;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
}

.main-commissions--table .main-commissions--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
    padding-top: 40px;
    padding-right: 40%;
}

.commissions-table--container {
    width: 100%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
}

.commissions-table--container table {
    width: 100%;
    height: 100%;
}

.commissions-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    text-align: center;
    background-color: var(--just-white);
}

.Bits__table-title {
    border-top-left-radius: 10px;
}

.Table__bottom-left {
    border-bottom-left-radius: 10px;
}

.price__right {
    border-top-right-radius: 10px;
}

.price__bottom-right {
    border-bottom-right-radius: 10px;
}

.price__table-right {
    color: rgba(117, 117, 117, 1);
    font-family: normal;
    padding-right: 50px;
}

.name {
    color: var(--grey);
    padding-right: 20px;
}

.commissions--table-date {
    width: 195px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}

.commissions--table-date p {
    text-align: center;
    font-size: 13px;
    font-weight: 450;
}

.commissions--table-date b {
    font-weight: 900;
    font-size: 13px;
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(assets/icons/Group\ 16.svg);
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(assets/icons/clock\ 1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(assets/icons/eye\ 1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .dollar-sing {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(assets/icons/dollar-sign\ 1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .check-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(assets/icons/check-circle\ 1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(assets/imgs/bitcoinbaby\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

.plans--title h2 {
    margin-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
    margin-bottom: 20px;
}

.plans--title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider {
    display: flex;
    gap: 6px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 220px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}

.plans-container--card .plans-arrow--left {
    position: absolute;
    left: 75.21%;
    right: -14.21%;
    top: 50%;
    bottom: 44.12%;
    background-image: url(assets/icons/Vector\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
}

.plans-container--card .plans-arrow--right {
    position: absolute;
    left: 1.79%;
    top: 49%;
    font-size: 23px;
    color: #bababa;
}

.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--black);
}

.plans-container--slider .plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    line-height: 6.3rem;
    font-weight: bold;
    color: black;
}

.plans-container--slider .plan-card--price span {
    font-size: 15px;
    font-weight: 300;
    vertical-align: 25px;
}

.plans-container--slider .plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}

.plans-container--slider .plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    font-weight: bold;
    background-color: rgba(250, 248, 247, 1);
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    border-color: var(--bitcoin-orange);
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
}

.plans-container--slider .plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(assets/icons/arrow-right\ 1.png);
    vertical-align: text-bottom;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}